*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

*::selection {
  background-color: #f37878;
  color: white;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
  font-size: 14px;
  color: #10132c;
}

a {
  text-decoration: none;
  color: currentColor;
}

a:hover {
  color: #e04f4f;

}

li {
  list-style-type: none;
}

input,
textarea,
select {
  padding: 10px;
  background: white;
  border-radius: 5px;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
  border-color: #e04f4f;
}

button,
button:hover,
button:focus {
  border: none;
  outline: none;
  border-radius: 4px;
  padding-inline: 30px;
  height: 35px;
  font-weight: 600;
  cursor: pointer;
}

button:disabled {
  background-color: #f37878;
}



input::placeholder {
  font-size: 14px !important;
  color: #10132c;
}

textarea::placeholder {
  font-size: 14px !important;
  color: #637381;
}